<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="Entrants"></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Style HTML Tables with CSS</title>
    <link rel="stylesheet" type = "text/css" media = "all"
          href="/css/main.css" th:ref="@{/css/main2.css}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br>
<br>
<br>
<a href="viewAllEntrants" class="btn btn-primary" th:text="#{text.backToMain}"></a>
<br>
<br>

<span th:text="#{lang.change}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.en}"></option>
    <option value="ga" th:text="#{lang.ga}"></option>
</select>


<br>
<div style="text-align-all:center;">
    <table class = "content-table">
        <tr class = "active-row">
            <th style="text-align:left" th:text="#{id}"></th>
            <th style="text-align:left" th:text="#{hostCity}"></th>
            <th style="text-align:left" th:text="#{dateOfFinal}"></th>
            <th style="text-align:left" th:text="#{hostCountry}"></th>
            <th style="text-align:left" th:text="#{artistCountry}"></th>
            <th style="text-align:left" th:text="#{song}"></th>
            <th style="text-align:left" th:text="#{points}"></th>
            <th style="text-align:left" th:text="#{logo}"></th>



        </tr>
        <tr th:each="e: ${entrant}">

            <td><span th:text="${e.id}"></span></td>
            <td><span th:text="${e.hostCity}"></span></td>
            <td><span th:text="${#dates.format(e.dateOfFinal, #messages.msg('date.format'))}"></span></td>
            <td><span th:text="${e.hostCountry}"></span></td>
            <td><span th:text="${e.artist}"></span></td>
            <td><span th:text="${e.song}"></span></td>
            <td><span th:text="${e.totalPoints}"></span></td>
            <td> <img th:src="@{/assets/images/{logo}(logo=${e.logo})}"/> </td>


        </tr>







    </table>

</div>
<br>
<br>
<br>






<br>

<div class="container" >
    <h2><strong th:text = "#{label.venueInfo}"/></h2>
    <h5> <strong th:text = "#{text.clickOnVenueToLearnMore}"/></h5>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"><strong th:text = "#{label.venueInfo}"/></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <h1><strong th:text = "#{text.venueName}"/></h1>

                        <tr class = "active-row">
                            <th style="text-align:left"></th>




                        </tr>
                        <tr th:each="v: ${venue}">

                            <td><span th:text="${v.name}"></span></td>



                        </tr>


                </div>
                <div class="panel-footer"> <h1><strong th:text = "#{label.venueInfo}"/></h1>

                        <tr class = "active-row">
                            <th style="text-align:left"></th>




                        </tr>
                        <h4><tr th:each="v: ${venue}">

                            <td><span th:text="${v.name}"></span></td> has a capacity of
                            <td><span th:text="${v.capacity}"></span></td>.
                            <br>

                            <td><span th:text="${v.note}"></span></td>
                        </h4>


                        </tr>

            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('/viewAllEntrants' + '?lang=' + selectedOption);

            }
        });
    });
</script>